#navbar .logo{
    float: none;
    text-align: center;
}
#navbar ul {
    padding-left: 0;
}

#navbar ul li {
    display: block;
}

#navbar ul, #navbar ul li{
    float: none;

}

#navbar ul li a{
    padding: 5px;
    border-bottom: #e0e0e0 1px solid;

}

/*containers */
.container{
    padding: 0 15px;
}

#features .container{
    display: block;
}

#projects .project{
     margin-bottom: 20px;
}

#home-info .info-img{
    display: none;
}

#home-info .info-content{
    float: none;
    margin-bottom: 20px;
    width: 100%;
}

.box{
    display: block;
}

/* Empresa */

#about-info .info-left, #about-info .info-right{
    float: none;
    width: 100%;
}

.l-heading{
    text-align: center;
}

/* Contacto */

#showcase{
    min-height: 60vh;
}

#showcase .showcase-content{
    padding-top: 40px;
    padding-bottom: 20px;
}

/*home info */

#home-info .info-img{
    display: none;
}

#home-info .info-content{
    float: none;
    margin-bottom: 20px;
    width: 100%;
}

.box{
    display: block;
}

/* Empresa */

#about-info .info-left, #about-info .info-right{
    float: none;
    width: 100%;
}

.l-heading{
    text-align: center;
}

/* Contacto */

#contact-info .box{
    padding: 20px 0;
}

#contact-form p{
    text-align: center;
    padding: 20px;
}